@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');


    :root {
        --azul-dnc: #0c70f2;
        --preto-dnc: #303030;
        --cinza-hover: #c9c9c9;

        --fonte-padrao: 'Inter';
    }

    body {
        margin: 0px; /* Margem Externa */
        padding: 0px; /* Margem Interna */
        background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
        background-repeat: no-repeat;
    }

    #principal {
        width: 100%;
        height: 100px;

        background-color: var(--preto-dnc);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #bababa;

    }

        #menu {
            display: flex;
            width: 45%;
            justify-content: space-around;
            align-items: center;

            margin-left: 5%;
        }

        #principal div a{
            font-family: var(--fonte-padrao);
            font-size: 25px;
            font-weight: 600;
            color: #ffffff;
            text-decoration: none;
        }

            #principal div a:hover{
                color: var(--cinza-hover);
            }

        #principal button {
            margin-right: 5%;
            background-color: var(--azul-dnc);
            border: 0px;

            height: 40px;
            width: 80px;

            font-family: var(--fonte-padrao);
            font-size: 20px;
            font-weight: 600;
            color: #ffffff;

            box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
            cursor: pointer;
        }

            #principal button:hover {
                color: #cccccc;
            }

            /* Seção principal do site */

    section {
        display: flex; /* dividir por camada */
        flex-direction: column; /* colocar tudo um embaixo do outro */
        align-items: center; /* centralizar a coluna */

        margin-top: 100px;
        margin-bottom: 100px;
    }

        header {
            font-family: var(--fonte-padrao);
            color: white;
        }

            header h1 {
                text-transform: uppercase;
                font-size: 80px;
                font-weight: 800;
                text-align: center;

                margin-bottom: 20px;
            }

            header h2 {
                text-align: center;
                font-size: 40px;
                font-weight: 700;

                margin-bottom: 100px;
            }

            header .invert {
                background-color: black;
                font-weight: bold;
                padding: 5px;
            }

            /*Formulário*/
    
    form {
        color: white;
        font-family: var(--fonte-padrao);
        font-size: 30px;
        font-weight: 600px;
        width: 600px;
    }

    .form-group {
        display: flex;
        flex-direction: column;

        margin-top: 10px;
        margin-bottom: 10px;
    }

    form input {
        height: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        border: 0px;
        font-size: 20px;
        padding: 10px;
    }

    form label {
        margin: 10px 0px 10px 0px;
    }

    form input::placeholder {
        color: rgba(57, 57, 57, 0.5);
    }

    .checkbox-itens label {
        font-size: 25px;

    }

    .checkbox-itens {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    input[type="checkbox"] {
        transform: scale(1.7);
    }

    input[type=submit] {
        background-color: rgba(12, 112, 242, 0.9);
        width: 100%;
        height: 56px;
        font-size: 32px;
        color: white;

        margin-top: 50px;
        box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
        cursor: pointer;
    }


